
/* -------------------------------------------------------------------------- *\
    ## Background Colors
\* -------------------------------------------------------------------------- */
$colorsky__day--top:#c9dbe9;
$colorsky__day--bottom:#ffffff;

$colorsky__night--top:#000000;
$colorsky__night--bottom:#001025;

$colorsnow__day--top:#909090;
$colorsnow__day--bottom:#ffffff;


$cloud__day:#ffffff;
$cloud__night:#d3d3d3;
$cloud__rain:#696969;

$sun:#ffff00;
$moon:#c7cbd0;
$star:#F5F5FC;
$snow:#ffffff;
$thunder:#c7cbd0;

/* -------------------------------------------------------------------------- *\
    ## Colors
\* -------------------------------------------------------------------------- */
$letter-color:#ffffff;
$letter-color-black:#000000;
$letter-color-blue:#337ab7;