.advice
{
  @include setfadein();
  width: 100%;
  @include border-radius(4px);
  display: block;
  text-align: center;
  margin-top: 3px;
  margin-bottom: 3px;
  ul{
    margin-bottom: 0px;
  }
}
.warning
{
  background-color: $warning-notification;
  border-color: $warning-borde-notification;
  color: $warning-letter-color-notification;
}
.success
{
  background-color: $success-notification;
  border-color: $success-borde-notification;
  color: $success-letter-color-notification;
}
span.error {
  @extend .advice;
  @extend .warning;
}
.main
{
  height: 100vh;
  text-align: center;
}