input[type=search], input[type=text], button {
  -webkit-appearance: none;
  appearance: none;
  outline: none !important;
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}