
//## Responsive property utils
@-ms-viewport{
  width: device-width;
}

@mixin into-xs($property: jx, $value: 0){
    @media (max-width:$screen-xs-max) {
        @if $property != jx { #{$property}: #{$value}; }
        @content;
    }
}
@mixin into-xs-portrait($property: jx, $value: 0){
  @media (max-width:$screen-xs-max) and (orientation:portrait) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}
@mixin into-xs-landscape($property: jx, $value: 0){
  @media (max-width:$screen-xs-max) and (orientation:landscape) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}

@mixin into-sm($property: jx, $value: 0){
    @media (min-width:$screen-sm-min) and (max-width:$screen-sm-max) {
        @if $property != jx { #{$property}: #{$value}; }
        @content;
    }
}
@mixin into-sm-portrait($property: jx, $value: 0){
  @media (min-width:$screen-sm-min) and (max-width:$screen-sm-max) and (orientation:portrait) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}
@mixin into-sm-landscape($property: jx, $value: 0){
  @media (min-width:$screen-sm-min) and (max-width:$screen-sm-max) and (orientation:landscape) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}

@mixin into-md($property: jx, $value: 0){
    @media (min-width:$screen-md-min) and (max-width:$screen-md-max) {
        @if $property != jx { #{$property}: #{$value}; }
        @content;
    }
}
@mixin into-md-portrait($property: jx, $value: 0){
  @media (min-width:$screen-md-min) and (max-width:$screen-md-max) and (orientation:portrait) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}
@mixin into-md-landscape($property: jx, $value: 0){
  @media (min-width:$screen-md-min) and (max-width:$screen-md-max) and (orientation:landscape) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}

@mixin into-lg($property: jx, $value: 0){
    @media (min-width:$screen-lg-min) {
        @if $property != jx { #{$property}: #{$value}; }
        @content;
    }
}
@mixin into-lg-portrait($property: jx, $value: 0){
  @media (min-width:$screen-lg-min) and (orientation:portrait) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}
@mixin into-lg-landscape($property: jx, $value: 0){
  @media (min-width:$screen-lg-min) and (orientation:landscape) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}

@mixin into-md-lg($property: jx, $value: 0){
  @media (min-width:$screen-md-min)  {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}
@mixin into-xs-sm($property: jx, $value: 0){
  @media (max-width:$screen-sm-max) {
    @if $property != jx { #{$property}: #{$value}; }
    @content;
  }
}


