
/* -------------------------------------------------------------------------- *\
    ## Background Colors Animation
\* -------------------------------------------------------------------------- */

$colorsky__day--top:#c9dbe9;
$colorsky__day--bottom:#ffffff;

$colorsky__night--top:#000000;
$colorsky__night--bottom:#001025;

$colorsnow__day--top:#909090;
$colorsnow__day--bottom:#ffffff;


$cloud__day:#ffffff;
$cloud__night:#d3d3d3;
$cloud__rain:#696969;

$sun:#ffff00;
$moon:#c7cbd0;
$star:#F5F5FC;
$snow:#ffffff;
$thunder:#c7cbd0;

/* -------------------------------------------------------------------------- *\
    ## Background Colors Animation
\* -------------------------------------------------------------------------- */

$background-white:#ffffff;
$background-gray-soft:#dddddd;
$background-gray-dark:darken($background-gray-soft,10%);
$background-gray-darker:darken($background-gray-soft,20%);

/* -------------------------------------------------------------------------- *\
    ## Colors leters
\* -------------------------------------------------------------------------- */

$letter-color:#ffffff;
$letter-color-white-dark:darken($letter-color, 13%);
$letter-color-black:#000000;
$letter-color-blue:#337ab7;
$letter-color-blue-light: lighten($letter-color-blue, 13%);

/* -------------------------------------------------------------------------- *\
    ## notifications
\* -------------------------------------------------------------------------- */

$warning-notification:#fcf8e3;
$warning-borde-notification:#faebcc;
$warning-letter-color-notification:#8a6d3b;

$success-notification:#dff0d8;
$success-borde-notification:#d6e9c6;
$success-letter-color-notification:#3c763d;

$danger-notification:#f2dede;
$danger-borde-notification:#ebccd1;
$danger-letter-color-notification:#a94442;






